
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  NSJSA Automation Prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l">Sprint 7 - Management information</h1>

      <ol class="govuk-list govuk-list--unstyled">
        <li><a href="mi/i6">Increment 6 dashboard</a></li>
        <li><a href="mi/i5">Increment 5 dashboard</a></li>
        <li><a href="mi/i4">Increment 4 dashboard</a></li>
      </ol>
      
    </div>
  </div>

{% endblock %}
