{% extends "agent/layout.html" %}

{% block pageTitle %}
Service centre - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
{# {{ data | dump('\t') }}  #}

<h1 class="govuk-heading-l">
  <span class="govuk-caption-l">Service centre agent</span>
  Choose a task
</h1>

{% if data['task'] == 'process' %}
  {% set processUrl = 'view-claim' %}
  {% set registerUrl = '#' %}
  {% set templateUrl = '#' %}
  {% set idUrl = '#' %}
{% elif data['task'] == 'register' %}
  {% set processUrl = '#' %}
  {% set registerUrl = 'view-claim' %}
  {% set templateUrl = '#' %}
  {% set idUrl = '#' %}
  {% if data['dupe'] == 1 %}
    {% set registerUrl = 'duplicates' %}
  {% endif %}
{% elif data['task'] == 'id-template' %}
  {% set processUrl = '#' %}
  {% set registerUrl = '#' %}
  {% set templateUrl = 'view-claim' %}
{% elif data['task'] == 'id-check' %}
  {% set processUrl = '#' %}
  {% set registerUrl = '#' %}
  {% set templateUrl = '#' %}
  {% set idUrl = 'view-claim' %}
{% else %}
  {% set registerUrl = '#' %}
  {% set processUrl = '#' %}
  {% set templateUrl = '#' %}
  {% set idUrl = '#' %}
{% endif %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half">
    <a href="{{ registerUrl }}" class="tile tile--blue">
      <div class="tile__contents">
        <h2 class="tile__title">Register a claim <span>({{ range(52, 200) | random }})</span></h2>
      </div>
    </a>
  </div>

  <div class="govuk-grid-column-one-half">
    <a href="{{ processUrl }}" class="tile tile--blue">
      <div class="tile__contents">
        <h2 class="tile__title">Process a claim <span>({{ range(52, 200) | random }})</span></h2>
      </div>
    </a>
  </div>

  <div class="govuk-grid-column-one-half">
    <a href="nino-search" class="tile tile--blue">
      <div class="tile__contents">
        <h2 class="tile__title">Find a claim</h2>
      </div>
    </a>
  </div>

  <div class="govuk-grid-column-one-half">
    <a href="mi" class="tile tile--blue">
      <div class="tile__contents">
        <h2 class="tile__title">View management information</h2>
      </div>
    </a>
  </div>

</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


<h2 class="govuk-heading-m">Identity tasks</h2>
<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half">
    <a href="{{ idUrl }}" class="tile tile--blue">
      <div class="tile__contents">
        <h2 class="tile__title">Conduct an ID check <span>({{ range(31, 300) | random }})</span></h2>
      </div>
    </a>
  </div>

</div>

{% endblock %}