{% extends "agent/stage/2/h/claim.html" %}

{% block pageTitle %}
  Select a status
{% endblock %}

{% set claimStatus = data['claimStatus'] | replace("-", " ") | capitalize %}
{% set subStatus = data['reason'] | replace(",", "") %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "The claim was updated",
        html: claimStatus + ' – ' + subStatus
      }) }}

      {{ govukButton({
        text: "Get next claim",
        href: "claim?claimStatus=Entitled"
      }) }}

      <p><a href="../start" class="govuk-link">Return to start screen</a></p>

    </div>
    </div>
  </div>
{% endblock %}
