
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  NSJSA Automation Prototypes
{% endblock %}

{% block content %}

{% set regTag %}
    {{govukTag({
        text: "Register",
        classes: "govuk-tag--blue"
    })}}
{% endset %}

{% set proTag %}
    {{govukTag({
        text: "Process",
        classes: "govuk-tag--purple"
    })}}
{% endset %}

{% set escTag %}
    {{govukTag({
        text: "Escalation",
        classes: "govuk-tag--green"
    })}}
{% endset %}

{% set fraudTag %}
    {{govukTag({
        text: "Fraud",
        classes: "govuk-tag--yellow"
    })}}
{% endset %}

{% set appTag %}
    {{govukTag({
        text: "Appointee",
        classes: "govuk-tag--pink"
    })}}
{% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">
        Increment 7
        <span class="govuk-caption-l">{{ data['i7Name'] }}</span>
      </h1>

      <p>Increment 7 introduces 3 buckets of claims, {{ escTag | safe }}, {{ fraudTag | safe }} and {{ appTag | safe }}.</p>

      <p><a href="../understanding-exceptions">Understanding exceptions to automation</a>.</p>

{# {{ data | dump('\t') }} #}

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </div>
    </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h2 class="govuk-heading-m">Agent manual tasks</h2>

    {{ govukTable({
        caption: "Automation exceptions",
        captionClasses: "govuk-table__caption--s",
        firstCellIsHeader: true,
        head: [
            {
                text: "ID"
            },
            {
                text: "Scenario"
            },
            {
                html: "I6 bucket"
            },
            {
                html:  "I7 bucket"
            }
        ],
        rows: [
          [
            {
                text: "s6"
            },
            {
                html: "<a href='start?s=s6'>A claim where an appointee is found</a>"
            },
            {
                html: proTag
            },
            {
                html: "&rarr; " + appTag
            }
          ],
          [
                {
                    text: "s9"
                },
                {
                    html: "<a href='start?s=s9'>A claim where multiple application fraud rules are matched</a>"
                },
                {
                    html: proTag
                },
                {
                    html: "&rarr; " + fraudTag
                }
            ]
        ]
      }) }}

    </div>
  </div>

{% endblock %}
