
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  NSJSA Automation Prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l">Sprint 26</h1>

      <h2 class="govuk-heading-m">Jump to screen</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="i4-dashboard.html">View Increment 4 Dashboard</a></li>
        <li><a href="i5-dashboard.html">View Increment 5 Dashboard</a></li>
      </ul>
      
    </div>
  </div>

{% endblock %}
