
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  NSJSA Automation Prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">
        Increment 4
        <span class="govuk-caption-l">{{ data['i4Name'] }}</span>
      </h1>

      <p><a href="../understanding-exceptions">Understanding exceptions to automation</a>.</p>

{# {{ data | dump('\t') }} #}

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <p><a href="nino-search">Find a claim</a> by its bucket letter and scenario number, for example: r3.</p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Registration bucket</h2>

      <h3 class="govuk-heading-s">Manual task scenarios (r)</h3>

      <ol class="govuk-list govuk-list--number">
        <li><a href="start?s=r1">Register a claim where we couldn't automate the registration</a> <br>(ES push fail)</li>
        <li><a href="start?s=r2">Register a claim where the NINo does not match CIS record</a></li>
        <li><a href="start?s=r3">Register the right claim where we have duplicates and deal with the rest</a></li>
        <li><a href="start?s=r4">Register a claim where we have a NINo does not match CIS record and then has duplicates once NINo updated</a></li>
      </ol>
      
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Processing bucket</h2>
      <h3 class="govuk-heading-s">Manual task scenarios (p)</h3>
      <ol class="govuk-list govuk-list--number">
        <li><a href="start?s=p1">Withdraw a Northern Ireland claim</a></li>
        <li><a href="start?s=p2">Process a claim where an appointee is found</a></li>
        <li><a href="start?s=p3">Process a claim where data does not match CIS</a></li>
        <li><a href="start?s=p4">Process a claim where fraud rules are matched</a></li>
        <li><a href="start?s=p5">Process a claim with ID at risk flag</a></li>
        <li><a href="start?s=p6">Process a claim with an automated build failure</a></li>
        <li><a href="start?s=p7">Process a claim without automatic NI contributions check</a></li>
        <li><a href="start?s=p8">Process a claim complex for robotics</a></li>
        <li><a href="start?s=p9">Process a claim with robotics error</a></li>
        <li><a href="start?s=p10">Process an entitled claim needing a note adding</a></li>
      </ol>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Management information</h2>
      <p>Considered options for this increment.</p>
      <ul class="govuk-list govuk-list--number">
        <li><a href="mi">Dashboard view</a></li>
        <li><a href="mi/choose-task">Tile view</a></li>
      </ul>
    </div>
  </div>

{% endblock %}
