{% extends "./view-claim.html" %}

{% block pageTitle %}
  Select a status
{% endblock %}

{% block content %}

{% set failHtml %}
{{ govukCheckboxes({
  idPrefix: "failed-contact",
  name: "subStatus",
  fieldset: {
    legend: {
      text: "What did you do?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: "Select all that apply."
  },
  items: [
    {
      value: "sms",
      text: "Sent an SMS"
    },
    {
      value: "voicemail",
      text: "Left a voicemail"
    },
    {
      value: "email",
      text: "Sent an email"
    },
    {
      value: "letter",
      text: "Sent a JSA 164 letter"
    }
  ]
}) }}
{% endset -%}

{% set ttcHtml %}
  {{ govukRadios({
      idPrefix: 'ttc',
      name: 'ttcStatus',
      fieldset: {
        legend: {
          text: "Select an option",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
          {
              value: "fully-clerical",
              text: "Fully clerical"
          },
          {
              value: "needs-rebuild",
              text: "Needs rebuild"
          }                     
      ]
    })
  }}
{% endset -%}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}

  <div class="govuk-grid-row  govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">

      <form action="confirmation" method="get">

      {% if task == 'register' %}

        {{ govukRadios({
            idPrefix: 'status',
            name: 'claimStatus',
            fieldset: {
              legend: {
                text: "Update claim status",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
                {
                    value: "Claim registered",
                    text: "Claim registered"
                },
                {
                    value: "Awaiting agent",
                    text: "Awaiting agent"
                },
                {
                    value: "failed-to-contact",
                    text: "Failed to contact – 1st attempt",
                    conditional: {
                      html: failHtml
                    }
                },
                {
                    value: "potential-fraud",
                    text: "Potential fraud"
                },
                {
                    value: "withdrawn",
                    text: "Withdrawn"
                }         
            ]
          })
        }}

        {% else %}


        {{ govukRadios({
            idPrefix: 'status',
            name: 'claimStatus',
            fieldset: {
              legend: {
                text: "Update claim status",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
                {
                    value: "Appointment referred",
                    text: "Appointment referred"
                },
                {
                    value: "Not entitled",
                    text: "Not entitled"
                },
                {
                    value: "failed-to-contact",
                    text: "Failed to contact – 1st attempt",
                    conditional: {
                      html: failHtml
                    }
                },
                {
                    value: "potential-fraud",
                    text: "Potential fraud"
                },
                {
                    value: "suspected-fraud",
                    text: "Suspected fraud"
                },
                {
                    value: "transfer-to-clerical",
                    text: "Transfer to clerical",
                    conditional: {
                      html: ttcHtml
                    }
                },
                {
                    value: "escalate-complex",
                    text: "Escalate to specialist"
                }        
            ]
          })
        }}

        {% endif %}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      
    </div>
  </div>

{% endblock %}
