
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        New Style JSA automation beta prototypes
        <span class="govuk-caption-l">2021</span>
      </h1>

      <h2 class="govuk-heading-m">
        <a href="agent">Agent prototypes</a>
        <span class="govuk-caption-m">August 2021 to December 2021</span>
      </h2>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        <a href="citizen">Citizen prototypes</a>
        <span class="govuk-caption-m">August 2021 to December 2021</span>
      </h2>

    </div>
  </div>

{% endblock %}
