
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  NSJSA Automation Prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Automation beta</h1>
      <h2 class="govuk-heading-m">Sprint 7 & 8 – Manual ID checks and management information</h2>
      <p>Capture management information dashboard ideas for future and sooner increments.</p>
      <p><a href="sprint7/screens">View sprint</a></p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Sprint 5 & 6 – ID at risk, pushes and processing claims</h2>
      <p>Capture iteration including new Id at risk flag for service centre agents.</p>
      <p><a href="sprint5/screens">View sprint</a></p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Sprint 4 – Error reduction, address finder</h2>
      <p>Prototype scenarios for citizens to help find thier address.</p>
      <p><a href="sprint4/screens">View sprint</a></p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Sprint 3 – Fraud & CIS</h2>
      <p>Prototype scenarios for service centre agents to help identify potential fraud.</p>

      <p><a href="sprint3">Find a claim journey</a>.</p>

      <ol class="govuk-list govuk-list--number">
        <li><a href="sprint3/view-claim?scenario=1&claimant=sh&claimStatus=new-claim">Combined: CIS no match, multiple bank details</a></li>
        <li><a href="sprint3/view-claim?scenario=2&claimant=kb&claimStatus=new-claim">Combined: CIS match, multiple emails</a></li>
        <li><a href="sprint3/view-claim?scenario=3&claimant=sh&claimStatus=new-claim">Split: CIS no match, multiple bank details</a></li>
        <li><a href="sprint3/view-claim?scenario=4&claimant=kb&claimStatus=new-claim">Split: CIS match, multiple emails</a></li>
      </ol>

      <h2 class="govuk-heading-m">
         Additional fraud scenarios
         <span class="govuk-caption-m">Added 10 Jan 2022</span>
      </h2>
      
      <ol class="govuk-list govuk-list--number">
        <li><a href="sprint3/additional/nino-search?scenario=F1">Multiple claims, same NINO, same DOB, marked duplicates, no fraud check on duplicates, no fraud found on newest claim</a>.</li>
        <li><a href="sprint3/additional/nino-search?scenario=F2">Multiple claims, same NINO, same DOB, marked duplicates, no fraud check on duplicates, fraud found on newest claim</a>.</li>
        <li><a href="sprint3/additional/nino-search?scenario=F3">Multiple claims, same NINO, different DOB, not marked as duplicates, fraud check, no fraud found</a>.</li>
        <li><a href="sprint3/additional/nino-search?scenario=F4">Multiple claims, same NINO, different DOB, not marked as duplicate, fraud check, fraud found</a>.</li>
        <li><a href="sprint3/additional/nino-search?scenario=F5">Single claim, no duplicates, fraud check, no fraud found</a>.</li>
        <li><a href="sprint3/additional/nino-search?scenario=F6">Single claim, no duplicates, fraud check, fraud found</a>.</li>
      </ol>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Sprint 1 & 2 Book appointment</h2>

      <ul class="govuk-list govuk-list--unstyled">
        <li><a href="agent/stage/2a">Service centre agent – Find a claim</a></li>
        <li><a href="agent/stage/2b">Contact centre agent – Choose a task</a></li>
        <li><a href="agent/stage/2b/view-claim?task=book&claimStatus=first-fail&claimant=kb">Contact centre agent – First fail</a></li>
      </ul>

      <p><a href="agent/stage/2b/update-radios?task=book">Update claim status screen – radio options</a></p>

      <h3 class="govuk-heading-s">Management information</h3>
      <ul class="govuk-list govuk-list--unstyled">
        <li><a href="agent/mi/book-appointment/agent-performance">Agent performance – Version 1</a> – untested</li>
        <li><a href="agent/mi/book-appointment?v=2">Claim statistics – Version 2, business requirement labels</a> – untested</li>
        <li><a href="agent/mi/book-appointment">Claim statistics – Version 1, improved labels</a> – untested</li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2><a href="increments">By increment</a></h2>
      
    </div>
  </div>

{% endblock %}
