
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  NSJSA Automation Prototypes
{% endblock %}

{% block content %}

    <h1 class="govuk-heading-xl govuk-!-margin-top-9">
      <span class="govuk-caption-xl">DWP NSJSA Prototypes</span>
      New Style Jobseeker’s Allowance Automation beta
    </h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Citizen OIDV</h2>
      <p>Latest HTML prototype for citizens online identity verification.</p>
      <a href="citizen-latest" class="govuk-button">View prototype</a>
    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Service centre</h2>
      <p>HTML prototypes for service centre agents.</p>
      <a href="service-centre" class="govuk-button">View prototypes</a>
    </div>
</div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m"><a href="sprints">Beta sprints</a></h2>
      <p>Automation beta prototypes by sprint.</p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m"><a href="library">Library</a></h2>
      <p>A library of screen types and components used.</p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m"><a href="https://nsjsa-automation-alpha.onrender.com/">Alpha prototypes</a></h2>
      <p>A collection of prototypes from alpha. U: jsa P: jsa</p>

      
    </div>
  </div>

{% endblock %}
