{% extends "agent/stage/2/claim.html" %}

{% block pageTitle %}
  Select a status
{% endblock %}

{% set claimStatus = data['claimStatus'] | replace("-", " ") | capitalize %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Claim updated to " + claimStatus
      }) }}

      {{ govukButton({
        text: "Get next claim"
      }) }}

      <p><a href="../workflow" class="govuk-link">Change work flow</a></p>

    </div>
    </div>
  </div>
{% endblock %}
